.distance
  &__btn
    width: 270px
    height: 50px
    border: 1px solid #E5E5E5
    box-sizing: border-box
    border-radius: 2px
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 180%
    text-align: center
    color: #AFAFAF
    margin-top: 10px
  &__return
    margin-left: auto
    margin-right: 10px
.wrapper-dropdown-2 
  display: flex
  align-items: center
  position: relative
  width: 270px
  height: 50px
  margin: 0 auto
  background: #fff
  cursor: pointer
  outline: none
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 110%
  color: #111111
    
.wrapper-dropdown-2 .dropdown 
  position: absolute
  top: 100%
  right: 0px
  background: white
  transition: all 0.3s ease-out
  list-style: none
  opacity: 0
  pointer-events: none
  padding: 0
  margin: 0
.wrapper-dropdown-2 .dropdown li a 
  display: block
  text-decoration: none
  color: #333
  border-left: 5px solid
  padding: 10px
  transition: all 0.3s ease-out

.wrapper-dropdown-2 .dropdown li i 
  margin-right: 5px
  color: inherit
  vertical-align: middle

.wrapper-dropdown-2 .dropdown li:hover a 
  color: grey

.wrapper-dropdown-2.distance__return.active:after 
  transform: scale(180deg)

.wrapper-dropdown-2.active .dropdown 
  opacity: 1
  pointer-events: auto
